body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: -257px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}

.switch {
  margin-bottom: 30px;
}

.theme {
  width: 290px;
  margin-right: 70%;
  margin-top: 33px;
}